# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore the virtual environment directory
venv/
.env

# Ignore config files that might contain sensitive data
config.py
secrets.py

# Ignore the database file (SQLite in your case)
*.db
*.sqlite

# Ignore logs or temporary files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.idea/
.vscode/
.env